html{
  background-color: black;
}
body{
  width: 500px;
  margin: auto;
  background-color: darkgrey;
  font-family: helvetica;
}
section{
margin: auto;
}

h2, p{
  margin: 1px;
}

img {
  width: 490px;
  border: 5px;
  border-style: solid;
  border-color: orange;
  margin: auto;
}
